* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header,
.top,
.footer {
    background-color: #1f2937;
}

.header,
.top,
.middle-1,
.middle-2,
.bottom,
.footer {
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
}

a,
h1,
h3,
.title p,
button {
    color: #F9FAF8;
}

h1,
h2 {
    font-weight: 900;
}

.header {
    justify-content: space-between;
    align-content: center;
    padding-top: 16px;
}

h3 {
    font-size: 24px;
}

h1 {
    font-size: 48px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.nav {
    display: flex;
    gap: 16px;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    font-weight: 900;
}

.top img {
    width: 550px;
}

.title p,
a {
    font-size: 18px;
    color: #E5E7EB;
}

.title p {
    margin-bottom: 8px;
}

.top {
    padding-top: 120px;
    padding-bottom: 120px;
    justify-content: space-between;
    gap: 40px;
}

h2 {
    font-size: 36px;
    padding: 36px;
}

h2,
.quote {
    color: #1f2937;
}

.middle-1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    padding-bottom: 130px;
    gap: 36px;
    flex-wrap: wrap;
}

.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-info img {
    width: 160px;
}

.random-info p {
    width: 160px;
    text-align: center;
}

.middle-2 {
    background-color: #E5E7EB;
    padding-top: 140px;
    padding-bottom: 100px;
    font-size: 36px;
    justify-content: center;
}

.quote {
    max-width: 815px;
}

.author {
    font-size: 28px;
    text-align: right;
}

.banner {
    background-color: #3882F6;
}
